<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sistema de comentarios</title>
    <link href="https://file.myfontastic.com/tc26fJHv8scB3d4vHQRRsV/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="./estilos/stilos2.css">
</head>

<body>
    <div class="background">
        <img src="media/perefi.jpg" alt="">
        <div class="capa"></div>
    </div>
    <main>
        <h1>¿Como te ha parecido este asesor?</h1>
        <hr class="line">
        <div class="container-comments">

            <div class="comments">

                <div class="photo-perfil">
                    <img src="./media/perfil.jpg" alt="">
                </div>

                <div class="info-comments">

                    <div class="header">
                        <h4>Santiago Lopez</h4>
                        <h5>11 de octubre 2021</h5>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptas reiciendis, hic voluptatibus maxime, delectus fugiat, aspernatur nisi saepe, temporibus nemo sequi sint pariatur ratione! Repellat tempora doloremque illo necessitatibus.</p>

                    <div class="footer">

                        <h5 class="request">Responder</h5>
                        <label class="icon-heart"></label>

                    </div>
                </div>

            </div>
        </div>
        <div class="container-comments-request">

            <div class="comments-request">

                <div class="photo-perfil-request">
                    <img src="media/perfil2.jpg" alt="">
                </div>

                <div class="info-comments-request">

                    <div class="header">
                        <h4>Claudia Marin</h4>
                        <h5>12 de octubre de 2021</h5>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptas reiciendis, hic voluptatibus maxime, delectus fugiat, aspernatur nisi saepe, temporibus nemo sequi sint pariatur ratione! Repellat tempora doloremque illo necessitatibus.</p>

                    <div class="footer">

                        <h5 class="request">Responder</h5>
                        <label class="icon-heart"></label>

                    </div>
                </div>

            </div>
        </div>
        <div class="container-comments">

            <div class="comments">

                <div class="photo-perfil">
                    <img src="media/youtube.png" alt="">
                </div>

                <div class="info-comments">

                    <div class="header">
                        <h4>Laura Murcia</h4>
                        <h5>12 octubre 2021</h5>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptas reiciendis, hic voluptatibus maxime, delectus fugiat, aspernatur nisi saepe, temporibus nemo sequi sint pariatur ratione! Repellat tempora doloremque illo necessitatibus.</p>

                    <div class="footer">

                        <h5 class="request">Responder</h5>
                        <label class="icon-heart"></label>

                    </div>
                </div>

            </div>
        </div>

        <div class="container-comments">

            <div class="comments">

                <div class="photo-perfil">
                    <img src="media/perfil.jpg" alt="">
                </div>

                <div class="info-comments">

                    <div class="header">
                        <h4>Manuel Gomez</h4>
                        <h5>21 September2021</h5>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptas reiciendis, hic voluptatibus maxime, delectus fugiat, aspernatur nisi saepe, temporibus nemo sequi sint pariatur ratione! Repellat tempora doloremque illo necessitatibus.</p>

                    <div class="footer">

                        <h5 class="request">Responder</h5>
                        <label class="icon-heart"></label>

                    </div>
                </div>

            </div>
        </div>
    </main>

    <div class="capa-data"></div>
    <div class="container-data">
        <div class="photo-input">

            <div class="perfil-photo">
                <img src="media/perfil2.jpg" id="photoSelect" alt="">
            </div>
            <input type="file" id="loadPhoto">
            <input type="text" placeholder="Su nombre">

        </div>

        <textarea class="mensaje" name="" id="" cols="30" rows="10" placeholder="Escriba su mensaje"></textarea>

        <button class="btn-comment">Comentar</button>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
</body>

</html>